KAFKA_BOOTSTRAP_SERVER=
SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL=
SCHEMA_REGISTRY_HOST_NAME=
SCHEMA_REGISTRY_LISTENERS=
KAFKA_CLUSTERS_0_NAME=
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=
KAFKA_CLUSTERS_0_ZOOKEEPER=

